/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 Nov 2020, 16:19:03
    Author     : aas358
*/

#representation_more {display: none;}
#discoverability_more {display: none;}
#assessment_more {display: none;}


b, strong {
    font-weight: bold;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 50px;
    display: block;
    width: 50px;
    height: 50px;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #0056B7;
}




.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    width: 225px;
    height: 225px;
    border: 7px solid rgba(0, 0, 0, 0.1);
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

.card-title{
    font-size: 1.5rem !important;
}




/******TIMELINE*****/

.circle {
  padding: 13px 20px;
  border-radius: 50%;
  background-color: #ff944d;
  color: #fff;
  max-height: 50px;
  z-index: 2;
}

.how-it-works.row .col-2 {
  align-self: stretch;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #ff944d;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: calc(50% - 3px);
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
  height: 50%;
  left: calc(50% - 3px);
  top: 0;
}


.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid #ff944d;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #ff944d;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: calc(50% - 3px);
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: calc(50% - 3px);
  top: calc(50% - 3px);
}


#call-for-paper .call-for-paper-item {
    right: 0;
    margin: 0 0 15px;
}

#call-for-paper .call-for-paper-item .call-for-paper-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
}

#call-for-paper .call-for-paper-item .call-for-paper-link .call-for-paper-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all ease 0.5s;
    opacity: 0;
    background: rgba(254, 209, 54, 0.9);
}

#call-for-paper .call-for-paper-item .call-for-paper-link .call-for-paper-hover:hover {
    opacity: 1;
}

#call-for-paper .call-for-paper-item .call-for-paper-link .call-for-paper-hover .call-for-paper-hover-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: white;
}

#call-for-paper .call-for-paper-item .call-for-paper-link .call-for-paper-hover .call-for-paper-hover-content i {
    margin-top: -12px;
}

#call-for-paper .call-for-paper-item .call-for-paper-link .call-for-paper-hover .call-for-paper-hover-content h3,
#call-for-paper .call-for-paper-item .call-for-paper-link .call-for-paper-hover .call-for-paper-hover-content h4 {
    margin: 0;
}

#call-for-paper .call-for-paper-item .call-for-paper-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: #fff;
}

#call-for-paper .call-for-paper-item .call-for-paper-caption h4 {
    margin: 0;
    text-transform: none;
}

#call-for-paper .call-for-paper-item .call-for-paper-caption p {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#call-for-paper * {
    z-index: 2;
}

@media (min-width: 767px) {
    #call-for-paper .call-for-paper-item {
        margin: 0 0 30px;
    }
}

.call-for-paper-modal .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
}

.call-for-paper-modal .modal-content {
    padding: 100px 0;
    text-align: justify;
}

.call-for-paper-modal .modal-content h2 {
    font-size: 3em;
    margin-bottom: 15px;
}

.call-for-paper-modal .modal-content p {
    margin-bottom: 30px;
}

.call-for-paper-modal .modal-content p.item-intro {
    font-size: 16px;
    font-style: italic;
    margin: 20px 0 30px;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.call-for-paper-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.call-for-paper-modal .modal-content img {
    margin-bottom: 30px;
}

.call-for-paper-modal .modal-content button {
    cursor: pointer;
}

.call-for-paper-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
}

.call-for-paper-modal .close-modal:hover {
    opacity: 0.3;
}

.call-for-paper-modal .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    /* IE 9 */
    transform: rotate(45deg);
    background-color: #212529;
}

.call-for-paper-modal .close-modal .lr .rl {
    /* Safari and Chrome */
    z-index: 1052;
    width: 1px;
    height: 75px;
    /* IE 9 */
    transform: rotate(90deg);
    background-color: #212529;
}
